/* Mixins */

.roboto() {
    font-family: 'Roboto', sans-serif;
}

.roboto-condensed() {
    font-family: 'Roboto Condensed', sans-serif;
}

.unselectable() {
    -webkit-user-select: none;
    user-select: none;
}

/* global config */

body {
    margin: 0;
}

/* singleton elements */

@title-height: 20px;
#title {
    .roboto-condensed();
    .unselectable();

    height: @title-height;
    text-align: right;
    background: #f0f0f0;
    padding: 10px 12px;
    margin: 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

#app-container {
    .roboto();
    
    margin-top: (@title-height + 20px);
    padding-top: 8px;
}

#loading {
    text-align: center;
}

/*
 * Friends list
 */

ul#conversations {

    margin: 0;
    padding: 0;

    .conversation {
        .unselectable();
        cursor: pointer;

        list-style: none;
        margin: 0;
        padding: 0.5em 8px;

        .name {
            font-size: 12pt; 
        }

        &:hover {
            background-color: #ddd;
        }
    }

}

/*
 * Conversation/chat list
 */
#conversation {
    ul#events {
        margin: 0;
        padding: 0;

        .event {
            @message-margin: 1em;

            margin-bottom: 8px;

            list-style: none;
            overflow: hidden;
            display: block;

            &.incoming {
                .event-item {
                    background-color: #f0f0f0;
                }
                margin-right: @message-margin;
                margin-left: (@message-margin / 4);
                text-align: left;
            }

            &.outgoing {
                .event-item {
                    background-color: #ddd;
                }
                margin-left: @message-margin;
                margin-right: (@message-margin / 4);
                text-align: right;
            }

            .event-item {
                display: inline-block;

                border-radius: 8px;
                padding: 8px;

                .segment {
                    /* handle long urls */
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    word-break: break-word;
                    hyphens: auto;
                    font-size: 11pt;
                }

                a.link {
                    color: #6893d8;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


/*
 * Loading spinner 
 */
@loader-color: #333;
@loader-size: 5em;
@loader-width: 0.55em;
.loader {
    @faded-color: rgba(red(@loader-color), green(@loader-color), blue(@loader-color), 0.2);
    margin: 25px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: @loader-width solid @faded-color;
    border-right: @loader-width solid @faded-color;
    border-bottom: @loader-width solid @faded-color;
    border-left: @loader-width solid @loader-color;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: @loader-size;
    height: @loader-size;
}
@keyframes load8 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
